<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
        <a class="navbar-brand">Angular Router</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="testList">Test list</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="createTest">Create test</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="setAnswers">Setanswers</a></li>
        </ul>
    </div>
</nav>

<p>
  Here should be placed the child routes.
  <router-outlet></router-outlet>
</p>
